* {
  margin: 50px;
}

#color1 {
  text-align: center;
  background-color: #33367676;
}
#color2 {
  text-align: center;
  background-color: #376;
}
#color3 {
  text-align: center;
  background-color: #898980;
}
#color4 {
  text-align: center;
  background-color: #f89555;
}
#color5 {
  text-align: center;
  background-color: #46e19e;
}
